* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    padding-top: 80px; /* Ajusta el relleno superior para el encabezado fijo */
    margin: 0; /* Asegúrate de que no haya margen en el body */
}

p {
    text-align: left;
}

h4 {
    margin: 15px;
}

.textSub {
    text-align: center;
    color: #696969;
    font-size: 0.8em;
}

.header-container {
    position: fixed; /* Encabezado fijo */
    top: 0;
    left: 0;
    right: 0; /* Asegura que ocupe todo el ancho */
    text-align: center;
    padding: 20px 0;
    background-color: white; /* Color de fondo */
    z-index: 1000; /* Por encima de otros elementos */
}

.logo {
    display: block;
    margin: 0 auto;
    width: 300px; /* Ajusta el tamaño de la imagen del logo */
    height: 80px; /* Ajusta la altura de la imagen del logo */
}

.navbar {
    margin-top: 20px;
    border-top: 1px solid #998c74;
    border-bottom: 1px solid #998c74;
    padding: 20px;
}
.estilo {
    color: inherit;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.navbar a:hover {
    color: #7ABA96; /* Cambia el color al pasar el ratón */
}

/* Línea divisoria inferior */
header {
    padding-bottom: 10px;
}

.main-content {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 80px; /* Asegúrate de que este valor coincida con el padding-top del body */
}

.sidebar {
    width: 25%;
    padding: 20px;
}

.about-me {
    text-align: center;
    margin-bottom: 30px;
}

.subscribe {
    text-align: center;
    margin-bottom: 30px;
    background-color: #c9c9c9;
}

.noBoldAbout {
    font-weight: normal;
}

.noBoldSubscribe {
    font-weight: normal;
}

.about-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 25px;
}

.ebook-img {
    width: 150px;
    height: auto;
}

.subscribe-btn {
    background-color: #7ABA96;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}

.subscribe-btn:hover {
    background-color: #9dd8b7;
}

.recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 75%;
    padding: 20px;
}

.recipe-item {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 45px;
}

.recipe-img {
    width: 100%;
    height: auto;
}

.date {
    color: #8bc34a;
    font-weight: bold;
    margin: 10px 0;
    border-top: #7ABA96 1px solid;
    border-bottom: #7ABA96 1px solid;
    text-align: center;
}

.recipe-item p {
    color: #555;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer ul li {
    display: inline;
}

footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

footer ul li a:hover {
    color: #7ABA96; /* Hover color */
}
